.movie-card {
    transition: transform 0.2s ease-in-out;
}
  
.movie-card:hover {
    transform: scale(1.1);
    z-index: 5
}

.details-background {
    background-color: grey;
}

.movie-details{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

.movie-details-row{
    border:solid;
    padding: 50px;
}