.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    flex-direction: column;
}
  
.movie-details-row {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.movie-details-row .details {
    flex-grow: 1;
    /* max-width: 600px; */
}
  
.movie-details-row h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}
  
.movie-details-row p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
}

.backButton {
    background-color: #212529;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-left: -1px;
}
  
.backButton:hover {
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}